{% extends 'admin/layout.html' %}
{% import 'admin/_macros.html' as lib with context %}
{% set name = admin_view.get_display_name() %}

{% block head_css %}
    <link href="{{ url_for('admin.static', filename='chosen/chosen.css') }}" rel="stylesheet">
    <link href="{{ url_for('admin.static', filename='css/datepicker.css') }}" rel="stylesheet">
    {{super()}}
{% endblock %}

{% block body %}
    {% if tabs %}
    <ul class="nav nav-pills pull-right" style="padding-top: 18px; margin-bottom: 0px">
        {% for name, link in tabs %}
        <li>
            <a href="{{ link }}">{{ name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block header %}
    <h1 id="main-title">{{ _gettext('Edit %(model)s',model=name|capitalize) }}</h1>
    {% endblock %}
    <div class="clearfix"></div>
    <hr />

    <ul class="breadcrumb">
        {% for title, url in breadcrumbs %}
            {% if loop.last %}
                <li class="active">{{ title }}</li>
            {% else %}
                <li>
                    <a href="{{ url }}">{{ title }}</a>
                    <span class="divider"> / </span>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <div class="page-content">
        {% macro extra() %}
            {% if admin_view.can_delete %}
                <a href="{{ url_for('.delete', pk=pk, next=return_url, filter=filter) }}" class="btn btn-danger">{{ _gettext('Delete') }}</a>
            {% endif %}
            <input name="_edit" type="submit" class="btn" value="{{ _gettext('Save and stay on page') }}" />
        {% endmacro %}

        {{ lib.render_form(form, return_url, extra(), admin_view.can_edit, admin_view.can_delete) }}
    </div>

    <div class="clearfix"></div>
{% endblock %}

{% block tail %}
    <script src="{{ url_for('admin.static', filename='js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='js/form.js') }}"></script>
{% endblock %}
